In [1]:
import numpy as np
import pandas as pd

In [8]:
import urllib
import csv

In [9]:
import sklearn

In [6]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer

In [22]:
data = pd.read_csv("dontpatronizeme_pcl.tsv", sep = '\t', 
                   names=['doc_id','keyword','country_code','paragraph',
                         'label'])

In [25]:
#with open("dontpatronizeme_pcl.tsv") as fd:
#    rd = csv.reader(fd, delimiter = "\t", quotechar = '"')
#    for row in rd:
#        print(row)

In [24]:
data.head()

,doc_id,keyword,country_code,paragraph,label
0,@@23953477,in-need,in,The ones in need of constant medical care are ...,0
1,@@4703096,immigrant,jm,NBC and Spanish-language Univision both declin...,0
2,@@25567226,in-need,hk,A second T-Home project is being launched in t...,0
3,@@1824078,poor-families,tz,Camfed would like to see this trend reversed ....,4
4,@@1921089,refugee,tz,Kagunga village was reported to lack necessary...,0

In [26]:
data['keyword'].nunique()

10

In [27]:
data['country_code'].nunique()

20

In [28]:
data.keyword.unique()

array(['in-need', 'immigrant', 'poor-families', 'refugee', 'women',
       'homeless', 'migrant', 'hopeless', 'disabled', 'vulnerable'],
      dtype=object)

In [29]:
data.label.unique()

array([0, 4, 1, 3, 2], dtype=int64)

In [30]:
data.country_code.unique()

array(['in', 'jm', 'hk', 'tz', 'ng', 'ke', 'pk', 'za', 'nz', 'ph', 'sg',
       'my', 'gb', 'bd', 'lk', 'ca', 'gh', 'ie', 'au', 'us'], dtype=object)